<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Protegemos C.G.U | Afiliar un Aliado</title>
    <!--Material Icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--STYLESHEET-->
    <link rel="stylesheet" href="./assets/css/styleDash.css">
    <link rel="stylesheet" href="./assets/css/menuStyle.css">
    <link rel="stylesheet" href="./assets/css/compraventa.css">
    <link rel="stylesheet" href="./assets/css/cargandoo.css">
    <link rel="stylesheet" href="./assets/css/respoDash.css">
    <link rel="stylesheet" href="./assets/css/formulario.css">
    <link rel="stylesheet" href="./assets/css/grilla.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/faviconprotegemos.svg" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"
        integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.8.2/forge.all.min.js"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>


</head>

<body class="cuerpo">

    <div>
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <br>
                        <img src="./assets/img/logodash.png" style="height: 130px; margin-top: -5px;">

                    </div>
                    <div class="close" id="close-btn">
                        <span class="material-icons-sharp">
                            close </span>
                    </div>
                </div>

                <div class="sidebar">
                    <br>
                    <a href="sedes.html"><span class="material-icons-sharp">
                            meeting_room</span>
                        <h3>Sedes</h3>
                    </a>

                    <a href="inventarios.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Inventarios</h3>
                    </a>

                    <a href="especialidades.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Especialidades</h3>
                    </a>

                    <a href="tarifas.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Tarifas</h3>
                    </a>

                    <a href="municipios.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Municipios</h3>
                    </a>

                    <a href="afiliarUsuario.html" class="active"><span class="material-icons-sharp">
                            person_3</span>
                        <h3>Afiliar Aliado</h3>
                    </a>

                    <a href="afiliarPersonal.html"><span class="material-icons-sharp">
                            people</span>
                        <h3>Afiliar Personal</h3>
                    </a>

                    <a href="afiliarMedico.html"><span class="material-icons-sharp">
                            medication_liquid</span>
                        <h3>Afiliar Médico</h3>
                    </a>

                    <a href="listarUsuarios.html"><span class="material-icons-sharp">
                            people</span>
                        <h3>Ver Usuarios</h3>
                    </a>

                    <a href="convenios.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Convenios</h3>
                    </a>

                    <a href="serviciosAdicionales.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Servicios Adicionales</h3>
                    </a>

                    <a href="tarifarios.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Tarifarios</h3>
                    </a>

                    <a href="Preparaciones.html"><span class="material-icons-sharp">
                            local_atm</span>
                        <h3>Preparaciones</h3>
                    </a>


                    <a href="index.html"><span class="material-icons-sharp">
                            logout</span>
                        <h3>Logout</h3>
                    </a>
                </div>

            </aside>

            <!-----------End of Aside------------>

            <div class="form-content">


                <div class="Nav_inner">
                    <nav>
                        <a href="Dash.html" class="iconos"><span class="material-icons-sharp">
                                admin_panel_settings</span>
                            <h3 class="letrasNav">Administrador</h3>
                        </a>
                        <a href="inventario.html" class="iconos"><span class="material-icons-sharp">
                                inventory</span>
                            <h3 class="letrasNav">Inventario</h3>
                        </a>
                        <a href="papeleria.html" class="iconos"><span class="material-icons-sharp">
                                feed</span>
                            <h3 class="letrasNav">Papelería</h3>
                        </a>

                        <a href="contratos.html" class="iconos"><span class="material-icons-sharp">
                                note_alt</span>
                            <h3 class="letrasNav">Contratos</h3>
                        </a>
                        <a href="abonos.html" class="iconos"><span class="material-icons-sharp">
                                monetization_on</span>
                            <h3 class="letrasNav">Abonos</h3>
                        </a>
                        <a href="cartera.html" class="iconos"><span class="material-icons-sharp">
                                wallet</span>
                            <h3 class="letrasNav">Cartera</h3>
                        </a>

                        <a href="citasmedicas.html" class="iconos"><span class="material-icons-sharp">
                                medical_information</span>
                            <h3 class="letrasNav">Citas Médicas</h3>
                        </a>
                        <a href="reportes.html" class="iconos"><span class="material-icons-sharp">
                                crisis_alert</span>
                            <h3 class="letrasNav">Reportes</h3>
                        </a>
                        <a href="guiamedica.html" class="iconos"><span class="material-icons-sharp">
                                support_agent</span>
                            <h3 class="letrasNav">Guia Médica</h3>
                        </a>
                        <a href="consulta.html" class="iconos"><span class="material-icons-sharp">
                                leak_add</span>
                            <h3 class="letrasNav">Consulta</h3>
                        </a>
                        <a href="qpr.html" class="iconos"><span class="material-icons-sharp">
                                adjust</span>
                            <h3 class="letrasNav">QPR</h3>
                        </a>

                        <a href="datosacceso.html" class="iconos"><span class="material-icons-sharp">
                                key</span>
                            <h3 class="letrasNav">Datos Acceso</h3>
                        </a>

                    </nav>
                </div>

                <section class="form-register">
                    <h4>Contrato</h4>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 31%;">
                            <b>Codigo</b>
                            <input class="controls" type="text" name="nom" id="codigoContrato" required>
                        </div>
                        


                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 10%;">
                            <b>Fecha Expedición</b>
                            <input class="controls" type="date" name="nom" id="fechaExpeContrato" required>
                        </div>

                        <div style="display: block; margin-left: 10%;">
                            <b>Fecha Vencimiento</b>
                            <input class="controls" type="date" name="nom" id="fechaVenContrato" required>
                        </div>
                        


                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 10%;">
                            <b>Codigo EC</b>
                            <input class="controls" type="text" name="nom" id="codEcContrato" required>
                        </div>

                        <div style="display: block; margin-left: 5%;">
                            <b>Codigo RF</b>
                            <input class="controls" type="text" name="nom" id="codRfContrato" required>
                        </div>
                        


                    </div>

                </section>

                <section class="form-register">
                    <h4>Afiliar Aliado</h4>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 29%;">
                            <b>Código</b>
                            <input class="controls" type="text" name="nom" id="codUserAfiliado" required>
                        </div>


                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 6%;">
                            <b>Nombre</b>
                            <input class="controls" type="text" name="nom" id="nomUserAfiliado" required>

                        </div>

                        <div style="display: block; margin-left: 10%;">
                            <b>Apellido</b>
                            <input class="controls" type="text" name="nom" id="apeUserAfiliado" required>
                        </div>


                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 2%;">
                            <b>Municipio</b>
                            <select class="controls" id="selectMunicipioAfiliado" name="selectCategorias">
                                <option>-Seleccione-</option>
                                <option>Popayan</option>
                               

                            </select>

                        </div>

                        <div style="display: block; margin-left: 10%;">
                            <b>Barrio</b>
                            <select class="controls" id="selectBarrioAfiliado" name="selectCategorias">
                                <option>-Seleccione-</option>
                                <option>Modelo</option>
                                <option>Loma Linda</option>
                                <option>Prados del Norte</option>
                                <option>La Cabaña</option>
                                <option>Santa Clara</option>
                                <option>Casas Fiscales</option>
                                <option>Nueva Granada</option>
                                <option>Macharanga</option>
                                <option>La Playa</option>

                            </select>
                        </div>

                        <div style="display: block; margin-left: 10%;">
                            <b>Dirección</b>
                            <input class="controls" type="text" name="nom" id="direUserAfiliado" required>
                        </div>


                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 10%;">
                            <b>Telefono</b>
                            <input class="controls" type="number" name="nom" id="telUserAfiliado" required>
                        </div>

                        <div style="display: block; margin-left: 10%;">
                            <b>Celular</b>
                            <input class="controls" type="number" name="nom" id="celUserAfiliado" required>
                        </div>

                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 2%;">
                            <b>Tipo Documento</b>
                            <select class="controls" id="tipDocuUserAfiliado" name="selectCategorias">
                                <option>-Seleccione-</option>
                                <option>Cedula de Ciudadania</option>
                                <option>Tarjeta de Identidad</option>
                                <option>Pasaporte</option>
                               

                            </select>

                        </div>

                        <div style="display: block; margin-left: 5%;">
                            <b>N° Documento</b>
                            <input class="controls" type="number" name="nom" id="numDocuUserAfiliado" required>
                        </div>

                        <div style="display: block; margin-left: 5%;">
                            <b>Fecha de Expedición</b>
                            <input class="controls" type="date" name="nom" id="fechaExpeUserAfiliado" required>
                        </div>
                        
                    </div>

                    <div style="display: flex;">

                        <div style="display: block; margin-left: 10%;">
                            <b>Parentezco</b>
                            <input class="controls" type="text" name="nom" id="parenUserAfiliado" required>
                        </div>

                        <div style="display: block; margin-left: 10%;">
                            <b>N° Documento Parentezco</b>
                            <input class="controls" type="text" name="nom" id="docParenUserAfiliado" required>
                        </div>

                    </div>

                    <button class="botons" type="button" id="guardarNuevoContrato">Guardar</button>
                </section>
<br>
<br>
                <!-- <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Completo</th>
                            <th>Cargo</th>
                            <th>Sede</th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>ANGELA FERNANDA GUZMAN</td>
                            <td>CONTROL PAPELERIA</td>
                            <td>POPAYAN</td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>DIANA VALENTINA GARCIA GARCIA</td>
                            <td>CARTERA</td>
                            <td>POPAYAN</td>

                        </tr>
                        <tr>
                            <td>003</td>
                            <td>JOHAN FRANCISCO VILLAMARIN SOTOMAYOR</td>
                            <td>DIGITACION</td>
                            <td>POPAYAN</td>

                        </tr>


                    </tbody>
                </table> -->

                <div class="right">
                    <div class="top">
                        <button id="menu-btn">
                            <span class="material-icons-sharp">menu</span>
                        </button>
                    </div>
                </div>
                <!-- <div id="cargando2">
                    <lottie-player src="https://lottie.host/2d2fef52-01a5-403e-b33e-6db96d5ebaec/AiOPgStXGM.json"
                        background="transparent" speed="1" loop autoplay>
                    </lottie-player>
                </div> -->


            </div>

            <!-- End of Main-->

        </div>




    </div>

    <script>

        $(document).ready(function () {
            $('#table_id').DataTable();
        });

        // const ImgComercios = document.getElementById("ImgComercio");

        // ImgComercios.addEventListener("change", () => {

        //     const file = ImgComercios.files[0];
        //     const reader = new FileReader();

        //     reader.addEventListener("load", () => {

        //         const comoseria = reader.result
        //         console.log(comoseria);
        //         localStorage.setItem("imagenBaseNavideña", comoseria)

        //     });

        //     reader.readAsDataURL(file);

        // })
    </script>

    <script>

        function membreNavideña() {

            // window.location.href = "preventa.html"

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'server under maintenance',
            })

        }

        function membreSanta() {

            // window.location.href = "preventa.html"

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'server under maintenance',
            })

        }

        function membreAliado() {

            // window.location.href = "preventa.html"

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'server under maintenance',
            })

        }



    </script>

    <!-- rutas-->

    <script src="Logica/Routes/routes.js"></script>
    
   <script src="Logica/GuardarContrato/HttpsGuardarContrato.js"></script>
   <script src="Logica/GuardarContrato/GuardarContratoBussiness.js"></script>
   <script src="Logica/GuardarContrato/GuardarContratoController.js"></script>
   <script src="Logica/GuardarContrato/GuardarContratoEvents.js"></script>


</body>

</html>